
header{
    align-items: center;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
header nav ul li{
    list-style-type:none;
    display: inline;
    justify-content: space-around;
}
body, html {
    height: 100%;
    margin: 0;
    font-family:Poppins;
    background-image: url('./images/wp9278542-4k-black-and-purple-wallpapers.jpg'); 
    background-size: cover;     
    background-position: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card{
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 0.08) ;
    backdrop-filter: blur(12px);
    width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
}
form input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 5px;
}
form label{
    font-weight: bold;
    font-style: oblique;
    font-family:Poppins;
}

form button{
    font-weight: bold;
    font-size: large;
    margin-bottom: 12px;
    background-color: #5F4B8B;
    color: #f0f0f0;
}
button:hover {
    background-color:#7C5DC3;
}
h3{
    color: whitesmoke;
    font-weight: bold;
    font-size: larger;

}

body footer{
    font-weight: bold; 
    color: black; 
    background-color: #fff; 
    
}

footer p {
    font-size: large;
    align-items: center;
    justify-content: center; 
    display: flex;
    padding: 8px;
    margin: 15px;
}
.logo{
    align-items: left;
    width: 150px;
    height: 150px;
}